/* .card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 300px;
    margin: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.card a.details {
    margin-top: 0.5em;
    background-color: var(--grey) !important;
    color: white !important;
}

.card a.details:hover {
    background-color: var(--light-grey) !important;
    color: var(--grey) !important;
}

.card div.details {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: white;
}

.name {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--grey);
    font-weight: bold;
}
*/
/* .details-image{
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center top;
    object-fit: cover;
} 

 
.card {
    width:320px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   margin:0 auto;
   padding-bottom: 20px; 
}

 .image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}  */
